@import 'global';
@import 'scrollbar';
@import 'utilities';
// swiper
@import '../../node_modules/swiper/css/swiper';

html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.header {
  width: 100%;
  height: 68px;
  background: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 5px 0;
  position: fixed;
  top: 0;
  z-index: 999;
  &.slide-up {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    transition: transform 0.5s ease-out;
  }
  &.slide-down {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform 0.5s ease-out;
  }
  .header-content {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    img {
      width: 176px;
      height: 40px;
      margin-right: 20px;
    }
    li {
      margin: 0 15px;
      padding: 17px 0;
      display: inline-block;
      list-style: none;
      a {
        &:hover {
          color: #19b5fe;
        }
      }
      .active {
        color: #19b5fe;
      }
    }
    .header-search {
      position: absolute;
      top: 20px;
      right: 0;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .header-menu {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 30px;
      display: none;
    }
  }
  .mobile-nav {
    visibility: hidden;
    opacity: 0;
    transition: visibility ease-in-out 0.3s, opacity ease-in-out 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    ul {
      background: #fff;
      width: 80%;
      height: 100%;
      padding: 20px 10px;
      position: absolute;
      left: -300px;
      top: 0;
      transition: left ease-in-out 0.3s;
      li {
        font-size: 14px;
        padding: 20px;
      }
    }

    &.show {
      visibility: visible;
      opacity: 1;
      overflow: hidden;
      ul {
        left: 0;
      }
    }
    .mobile-close {
      position: absolute;
      top: 0;
      left: 80%;
      width: 50px;
      height: 50px;
      background: #fff;
      text-align: center;
      line-height: 50px;
      margin-left: 2px;
      font-size: 20px;
      font-weight: 100;
    }
  }
}
#index-swiper.swiper-container {
  width: 1170px;
  height: 440px;
  margin: 0 auto;
  margin-top: 80px;
  .swiper-slide {
    position: relative;
    .content {
      width: 50%;
      max-width: 460px;
      position: absolute;
      right: 60px;
      bottom: 90px;
      z-index: 20;
      .txt {
        padding: 20px;
        background: rgba(255, 255, 255, 0.85);
        h3 {
          margin: 0;
          font-size: 1.5em;
          font-weight: normal;
        }
        p {
          margin: 5px 0 0;
          font-size: 1em;
        }
      }
      .link {
        border-radius: 25px;
        display: block;
        background: #2d2d2d;
        transition: 0.2s background;
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 1.1em;
        line-height: 1.1em;
        padding: 10px 30px 10px;
        float: right;
        margin-top: 15px;
        text-decoration: none;
        &:hover {
          background: #000000;
        }
      }
    }
    .img-inner {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: none;
    top: auto;
    bottom: 30px;
    color: #fff;
  }

  .swiper-button-prev {
    left: 40px;
  }

  .swiper-button-next {
    right: 40px;
  }

  .swiper-bottom-nav {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    z-index: 10;
    .swiper-pagination {
      position: relative;
      display: inline-block;
      height: 29px;
      vertical-align: middle;
    }
    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      background: #fff;
      opacity: 1;
      box-sizing: border-box;
      border: 3px solid #fff;
      margin: 0 15px;
      vertical-align: middle;
      &.swiper-pagination-bullet-active {
        background: #2d2d2d;
      }
    }
  }
}

.contain {
  width: 1170px;
  height: fit-content;
  margin: 0 auto;
  .contain-left {
    width: 66.66%;
    ul {
      width: 100%;
      height: 44px;
      line-height: 44px;
      overflow-y: hidden;
      overflow-x: hidden;
      white-space: nowrap;
      border-bottom: 1px solid #e6e8eb;
      &:hover {
        overflow-x: scroll;
      }
      li {
        display: inline-block;
        cursor: pointer;
        position: relative;
        color: #7f7f7f;
        font-size: 14px;
        font-weight: bold;
        padding-right: 20px;
        transition: all 0.3s ease-in-out;
        a {
          &:hover {
            color: #333333;
          }
        }
        .active {
          color: #333333;
        }
      }
    }

    .c-l-article {
      width: 100%;
      padding: 20px 0px;
      border-bottom: 1px dotted #dfdfdf;
      img {
        width: 250px;
        height: 150px;
        object-fit: cover;
        margin-right: 30px;
      }
      h2 {
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .c-l-info {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 20px;
        color: #505050;
      }
      p {
        position: absolute;
        left: 0;
        bottom: 20px;
        font-size: 12px;
        padding: 0;
        margin: 0px 10px 0px 0px;
        color: #888;
      }
      &:hover {
        background: #f0f0f0;
      }
    }
  }
  .contain-right {
    width: 32%;
    height: fit-content;
    h3 {
      color: #333333;
      font-weight: bold;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      padding: 11px 15px;
      margin-bottom: 12px;
      padding-left: 0;
    }
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
    .c-r-video {
      width: 100%;
      margin: 12px 0;
      img {
        width: 48%;
        height: 100px;
        object-fit: cover;
      }
    }
    .c-r-manager {
      img {
        width: 120px;
        height: 90px;
        object-fit: cover;
      }
      h4 {
        font-size: 15px;
        height: 40px;
        overflow: hidden;
        margin-bottom: 16px;
      }
      span {
        font-size: 12px;
        color: #9a9a9a;
      }
    }
  }
}
.footer {
  width: 100%;
  height: fit-content;
  padding: 18px 0 30px 0;
  color: #e0e0e0;
  background: #292a32;
  .footer-nav {
    width: 1170px;
    margin: 0 auto;
    font-size: 15px;
    padding: 0 200px;
    text-align: center;
    .copyright-footer {
      color: #828282;
      font-size: 13px;
      a {
        color: #929292;
      }
    }
    .link-footer {
      color: #353e4a;
      font-size: 12px;
      padding: 18px 0;
    }

    .back-top {
      position: fixed;
      right: 24px;
      bottom: 10%;
      display: none;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
.dialog-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  z-index: 99;
  display: none;
  animation: fade-zoom-in 0.3s forwards;
  .d-s-form {
    width: 60vw;
    margin-top: 15vh;
    height: 58px;
    line-height: 58px;
    color: #949494;
    display: inline-block;
    position: relative;
    input {
      width: 100%;
      padding-left: 12px;
      padding-right: 100px;
      border: 1px solid #f1f1f1;
    }
    button {
      width: 100px;
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1px solid #f1f1f1;
    }
  }
}
@keyframes fade-zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .header .header-content,
  #index-swiper,
  .footer-nav,
  .contain {
    max-width: 700px;
  }
}

@media screen and (min-width: 991px) {
  .header .header-content,
  #index-swiper,
  .footer-nav,
  .contain {
    max-width: 980px;
  }
}
@media screen and (min-width: 1230px) {
  .header .header-content,
  #index-swiper,
  .footer-nav,
  .contain {
    max-width: 1170px;
  }
}
@media only screen and (max-width: 1099px) and (min-width: 768px) {
  .header {
    height: 110px;
    .header-content {
      display: block;
      img {
        margin: 0 auto;
        margin-top: 8px;
      }
      .header-search {
        top: 5px;
      }
    }
  }
  .header .header-content,
  #index-swiper,
  .footer-nav,
  .contain {
    max-width: 750px;
    width: 100%;
  }

  #index-swiper {
    margin: 120px auto 0 !important;
  }
  .contain-right {
    display: none;
  }
  .contain-left {
    width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    width: 100%;
    .header-content {
      width: 100%;
      display: block;
      img {
        margin: 0 auto;
        margin-top: 8px;
      }
      .header-search {
        top: 5px;
        right: 10px;
      }

      .header-nav {
        display: none;
      }
    }
  }
  .header .header-content,
  #index-swiper,
  .footer-nav,
  .contain {
    width: 100% !important;
    padding: 0 12px !important;
  }
  #index-swiper.swiper-container .swiper-slide .content,
  #index-swiper.swiper-container .swiper-bottom-nav,
  #index-swiper.swiper-container .swiper-button-prev,
  #index-swiper.swiper-container .swiper-button-next,
  .c-l-info,
  .contain-right {
    display: none;
  }
  .contain-left {
    width: 100% !important;
    ul {
      overflow-x: scroll !important;
    }
  }
  .contain .contain-left .c-l-article {
    img {
      width: 108px;
      height: 80px;
      margin-right: 12px;
    }
    p {
      bottom: 0;
    }
  }
  #index-swiper {
    height: 200px !important;
    padding: 0 !important;
    margin: 68px auto 0 !important;
  }
  .contain .contain-left .c-l-article h2 {
    font-size: 14px;
  }
  .header-menu {
    display: block !important;
  }
  .dialog-search .d-s-form button {
    width: 80px;
  }
}
