@import 'global';
@import 'scrollbar';
@import 'utilities';
// swiper
@import '../../node_modules/swiper/css/swiper';

html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.header {
  width: 100%;
  height: 68px;
  background: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 5px 0;
  position: fixed;
  top: 0;
  z-index: 999;
  &.slide-up {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    transition: transform 0.5s ease-out;
  }
  &.slide-down {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform 0.5s ease-out;
  }
  .header-content {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    img {
      width: 176px;
      height: 40px;
      margin-right: 20px;
    }
    li {
      margin: 0 15px;
      padding: 17px 0;
      display: inline-block;
      list-style: none;
      a {
        &:hover {
          color: #19b5fe;
        }
      }
    }
    .header-search {
      position: absolute;
      top: 20px;
      right: 0;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
#index-swiper.swiper-container {
  width: 100%;
  height: 440px;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 80px;
  .swiper-slide {
    position: relative;
    .content {
      width: 50%;
      max-width: 460px;
      position: absolute;
      right: 60px;
      bottom: 90px;
      z-index: 20;
      .txt {
        padding: 20px;
        background: rgba(255, 255, 255, 0.85);
        h3 {
          margin: 0;
          font-size: 2.3em;
          font-weight: normal;
        }
        p {
          margin: 5px 0 0;
          font-size: 1.2em;
        }
      }
      .link {
        border-radius: 25px;
        display: block;
        background: #2d2d2d;
        transition: 0.2s background;
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 1.1em;
        line-height: 1.1em;
        padding: 10px 30px 10px;
        float: right;
        margin-top: 15px;
        text-decoration: none;
        &:hover {
          background: #000000;
        }
      }
    }
    .img-inner {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: none;
    top: auto;
    bottom: 30px;
    color: #fff;
  }

  .swiper-button-prev {
    left: 40px;
  }

  .swiper-button-next {
    right: 40px;
  }

  .swiper-bottom-nav {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    z-index: 10;
    .swiper-pagination {
      position: relative;
      display: inline-block;
      height: 29px;
      vertical-align: middle;
    }
    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      background: #fff;
      opacity: 1;
      box-sizing: border-box;
      border: 3px solid #fff;
      margin: 0 15px;
      vertical-align: middle;
      &.swiper-pagination-bullet-active {
        background: #2d2d2d;
      }
    }
  }
}

.contain {
  width: 1170px;
  height: fit-content;
  margin: 0 auto;
  .contain-left {
    width: 770px;
    ul {
      width: 100%;
      border-bottom: 1px solid #e6e8eb;
      li {
        display: inline-block;
        cursor: pointer;
        position: relative;
        color: #7f7f7f;
        font-size: 14px;
        font-weight: bold;
        padding: 11px 15px;
        margin-right: 5px;
        transition: all 0.3s ease-in-out;
        a {
          &:hover {
            color: #333333;
          }
        }
      }
    }

    .c-l-article {
      width: 100%;
      padding: 20px 0px;
      border-bottom: 1px dotted #dfdfdf;
      img {
        width: 250px;
        height: 150px;
        object-fit: cover;
        margin-right: 30px;
      }
      h2 {
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .c-l-info {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 20px;
        color: #505050;
      }
      p {
        font-size: 12px;
        padding: 0;
        margin: 0px 10px 0px 0px;
        color: #888;
      }
      &:hover {
        background: #f0f0f0;
      }
    }
  }
  .contain-right {
    width: 354px;
    height: fit-content;
    h3 {
      color: #333333;
      font-weight: bold;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      padding: 11px 15px;
      margin-bottom: 12px;
    }
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
    .c-r-video {
      width: 100%;
      margin: 12px 0;
      img {
        width: 168px;
        height: 100px;
        object-fit: cover;
      }
    }
    .c-r-manager {
      img {
        width: 120px;
        height: 90px;
        object-fit: cover;
      }
      h4 {
        font-size: 15px;
        height: 40px;
        overflow: hidden;
        margin-bottom: 16px;
      }
      span {
        font-size: 12px;
        color: #9a9a9a;
      }
    }
  }
}
.footer {
  width: 100%;
  height: fit-content;
  padding: 18px 0 30px 0;
  color: #e0e0e0;
  background: #292a32;
  .footer-nav {
    width: 770px;
    margin: 0 auto;
    font-size: 15px;
    .copyright-footer {
      color: #828282;
      font-size: 13px;
      a {
        color: #929292;
      }
    }
    .link-footer {
      color: #353e4a;
      font-size: 12px;
      padding: 18px 0;
    }

    .back-top {
      position: fixed;
      right: 24px;
      bottom: 10%;
      display: none;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
